<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body id="about">
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/works">Works</a>
    </nav>
    <div id="about-container">
      <h1>About Cilian</h1>
      <p>
        Cillian Murphy (/ˈkɪliən/; born 25 May 1976) is an Irish actor.
        Originally the lead singer, guitarist, and lyricist of the rock band The
        Sons of Mr. Green Genes, he turned down a record deal in the late 1990s
        and began acting on stage and in short and independent films. His first
        notable film credits include Jim in the zombie horror 28 Days Later
        (2002), the dark comedy Intermission (2003), and the action thriller Red
        Eye (2005). He played a transgender Irish woman in the comedy-drama
        Breakfast on Pluto (2005), which earned him a nomination for the Golden
        Globe Award for Best Actor in a Musical or Comedy. Murphy is also known
        for his collaborations with director Christopher Nolan, playing the
        Scarecrow in The Dark Knight Trilogy of superhero films (2005–2012) and
        appearing in the sci-fi action thriller Inception (2010), the war drama
        Dunkirk (2017), and starring in the upcoming biopic Oppenheimer (2023)
        as the titular physicist. Other films in which he has appeared include
        the war drama The Wind That Shakes the Barley (2006), the sci-fi
        thriller Sunshine (2007), the sci-fi action thriller In Time (2011),
        Jozef Gabčík in the war drama Anthropoid (2016), and the horror A Quiet
        Place Part II (2021). From 2013 to 2022, he starred as Tommy Shelby in
        the BBC crime drama series Peaky Blinders, for which he won the Irish
        Film and Television Award for Best Actor in 2017 and 2018. In 2011,
        Murphy won the Irish Times Theatre Award for Best Actor and Drama Desk
        Award for Outstanding Solo Performance for the one-man play Misterman.
        In 2020, The Irish Times named him one of the greatest Irish film
        actors.[1] Murphy is married to Irish visual artist Yvonne McGuinness
        and has two sons with her.
      </p>
    </div>
  </body>
</html>
