<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body id="home">
    <div class="hero-image">
      <nav class="nav">
        <a href="/about">About</a>
        <a href="/works">Works</a>
      </nav>
      <div class="hero-text">
        <h1>Welcome to our Fan Page for Cilian Murphy</h1>
      </div>
    </div>
  </body>
</html>
