<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body id="works">
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    <h1>Works of Cilian Murphy</h1>
    <div id="image-container">
        <img id="img-peaky" src="/images/cilian-works1.jpg" alt="Peaky Blinders"/>
        <img src="/images/cilian-works2.jpg" alt="Inception"/>
        <img id="dark-knight-img" src="/images/cilian-works3.jpg" alt="The Dark Knight"/>
    </div>
</body>
</html>