body,
html {
  height: 100%;
}
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 40px;
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/cilian-home.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}
#about-container h1 {
    font-size: 3em;
}

#about-container {
  top: 30%;
  right: 60%;
  position: absolute;
  margin-left: 20px;
  color: white;
  line-height: 1.5;
}

#about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/cilian-about.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
img {
    margin-left: 5px;
    margin-right: 5px;
}
#img-peaky {
    height: 326px;
    width: 220px;
}
#dark-knight-img {
    height: 326px;
    width: 220px;
}
#works h1 {
    text-align: center;
}
#works nav a {
    color: black;
}